In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving Salaries.csv to Salaries.csv

In [ ]:
df=pd.read_csv('Salaries.csv')

In [ ]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
df.head(12)

         rank discipline  phd  service   sex  salary
0        Prof          B   56       49  Male  186960
1        Prof          A   12        6  Male   93000
2        Prof          A   23       20  Male  110515
3        Prof          A   40       31  Male  131205
4        Prof          B   20       18  Male  104800
5        Prof          A   20       20  Male  122400
6   AssocProf          A   20       17  Male   81285
7        Prof          A   18       18  Male  126300
8        Prof          A   29       19  Male   94350
9        Prof          A   51       51  Male   57800
10       Prof          B   39       33  Male  128250
11       Prof          B   23       23  Male  134778

In [ ]:
df.tail()

         rank discipline  phd  service     sex  salary
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [ ]:
df.tail(8)

         rank discipline  phd  service     sex  salary
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [ ]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [ ]:
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [ ]:
df['phd'].describe()

count    78.000000
mean     19.705128
std      12.498425
min       1.000000
25%      10.250000
50%      18.500000
75%      27.750000
max      56.000000
Name: phd, dtype: float64

In [ ]:
df['phd'].mean()

19.705128205128204

In [ ]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

In [ ]:
df['phd'].max()

56

In [ ]:
df.quantile(0.25)

phd           10.25
service        5.25
salary     88612.50
Name: 0.25, dtype: float64

In [ ]:
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

phd            18.5
service        14.5
salary     104671.0
dtype: float64

In [ ]:
df['sex'].value_counts()

Male      39
Female    39
Name: sex, dtype: int64

In [ ]:
df['rank'].value_counts()

Prof         46
AsstProf     19
AssocProf    13
Name: rank, dtype: int64

In [ ]:
df[['phd','service']].mean()

phd        19.705128
service    15.051282
dtype: float64

In [ ]:
df['phd'].describe()

count    78.000000
mean     19.705128
std      12.498425
min       1.000000
25%      10.250000
50%      18.500000
75%      27.750000
max      56.000000
Name: phd, dtype: float64

In [ ]:
df['phd'].count()

78

In [ ]:
df['phd'].mean()

19.705128205128204

In [ ]:
df.mode()

   rank discipline  phd  service     sex   salary
0  Prof          B  4.0      3.0  Female  92000.0
1   NaN        NaN  NaN      NaN    Male      NaN

In [ ]:
df.shape

(78, 6)

In [ ]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
df.iloc[[5,9,10,16,18,20],:]

        rank discipline  phd  service   sex  salary
5       Prof          A   20       20  Male  122400
9       Prof          A   51       51  Male   57800
10      Prof          B   39       33  Male  128250
16  AsstProf          B    8        3  Male   75044
18      Prof          A   19        7  Male  107300
20  AsstProf          B    4        4  Male   92000

In [ ]:
df.iloc[:,[0,3,5]]

         rank  service  salary
0        Prof       49  186960
1        Prof        6   93000
2        Prof       20  110515
3        Prof       31  131205
4        Prof       18  104800
..        ...      ...     ...
73       Prof       10  105450
74  AssocProf        6  104542
75       Prof       17  124312
76       Prof       14  109954
77       Prof       15  109646

[78 rows x 3 columns]

In [ ]:
df.iloc[[5,9,10,16,18,20],[0,3,5]]

        rank  service  salary
5       Prof       20  122400
9       Prof       51   57800
10      Prof       33  128250
16  AsstProf        3   75044
18      Prof        7  107300
20  AsstProf        4   92000

In [ ]:
df.iloc[25:31,:]

         rank discipline  phd  service   sex  salary
25       Prof          B   35       31  Male   99418
26       Prof          A   38       19  Male  148750
27       Prof          A   45       43  Male  155865
28   AsstProf          B    7        2  Male   91300
29       Prof          B   21       20  Male  123683
30  AssocProf          B    9        7  Male  107008

In [ ]:
print(df['salary'].head())

0    186960
1     93000
2    110515
3    131205
4    104800
Name: salary, dtype: int64

In [ ]:
print(df['salary'].head())
print(df[['salary','phd','service']].head)

0    186960
1     93000
2    110515
3    131205
4    104800
Name: salary, dtype: int64
<bound method NDFrame.head of     salary  phd  service
0   186960   56       49
1    93000   12        6
2   110515   23       20
3   131205   40       31
4   104800   20       18
..     ...  ...      ...
73  105450   18       10
74  104542   19        6
75  124312   17       17
76  109954   28       14
77  109646   23       15

[78 rows x 3 columns]>

In [ ]:
df[['salary','service']].min()

salary     57800
service        0
dtype: int64

In [ ]:
df['phd'].mean()

19.705128205128204

In [ ]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
print(df['rank'].unique())

['Prof' 'AssocProf' 'AsstProf']

In [ ]:
df[['rank','discipline']].value_counts()

rank       discipline
Prof       A             23
           B             23
AsstProf   B             11
AssocProf  B              8
AsstProf   A              8
AssocProf  A              5
dtype: int64

In [ ]:
df.groupby('rank').mean()

                 phd    service         salary
rank
AssocProf  15.076923  11.307692   91786.230769
AsstProf    5.052632   2.210526   81362.789474
Prof       27.065217  21.413043  123624.804348

In [ ]:
df.groupby(['rank','discipline'])['salary'].mean()

rank       discipline
AssocProf  A              73959.800000
           B             102927.750000
AsstProf   A              74450.000000
           B              86390.272727
Prof       A             111935.695652
           B             135313.913043
Name: salary, dtype: float64

In [ ]:
df.groupby(['rank','sex'])['salary'].max()

rank       sex
AssocProf  Female    109650
           Male      119800
AsstProf   Female     97032
           Male       92000
Prof       Female    161101
           Male      186960
Name: salary, dtype: int64

In [ ]:
df['rank']=='assocprof'

0     False
1     False
2     False
3     False
4     False
      ...
73    False
74    False
75    False
76    False
77    False
Name: rank, Length: 78, dtype: bool

In [ ]:
df[df['rank']=='AssocProf']

         rank discipline  phd  service     sex  salary
6   AssocProf          A   20       17    Male   81285
30  AssocProf          B    9        7    Male  107008
34  AssocProf          B   12        8    Male  119800
41  AssocProf          A   13        8  Female   74830
47  AssocProf          B   11       11  Female  103613
54  AssocProf          A   25       22  Female   62884
56  AssocProf          A   10        8  Female   77500
59  AssocProf          B   12       10  Female  103994
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
64  AssocProf          A   26       24  Female   73300
71  AssocProf          B   12        9  Female   71065
74  AssocProf          B   19        6  Female  104542

In [ ]:
len(df[df['rank']=='AssocProf'])

13

In [ ]:
df[(df['rank']=='AssocProf')&(df['discipline']=='A')]

         rank discipline  phd  service     sex  salary
6   AssocProf          A   20       17    Male   81285
41  AssocProf          A   13        8  Female   74830
54  AssocProf          A   25       22  Female   62884
56  AssocProf          A   10        8  Female   77500
64  AssocProf          A   26       24  Female   73300

In [ ]:
df[df['rank']=='AsstProf']['salary'].max()

97032

In [ ]:
print('The maximum salary of AsstProf is Rs.',df[df['rank']=='AsstProf']['salary'].max())

The maximum salary of AsstProf is Rs. 97032

In [ ]:
print('The minimum years of service for prof is',df[df['rank']=='Prof']['service'].min())

The minimum years of service for prof is 0

In [ ]:
print('the Average salary of Prof is',df[df['rank']=='Prof']['salary'].mean())

the Average salary of Prof is 123624.80434782608

In [ ]:
df.head(15)

         rank discipline  phd  service   sex  salary
0        Prof          B   56       49  Male  186960
1        Prof          A   12        6  Male   93000
2        Prof          A   23       20  Male  110515
3        Prof          A   40       31  Male  131205
4        Prof          B   20       18  Male  104800
5        Prof          A   20       20  Male  122400
6   AssocProf          A   20       17  Male   81285
7        Prof          A   18       18  Male  126300
8        Prof          A   29       19  Male   94350
9        Prof          A   51       51  Male   57800
10       Prof          B   39       33  Male  128250
11       Prof          B   23       23  Male  134778
12   AsstProf          B    1        0  Male   88000
13       Prof          B   35       33  Male  162200
14       Prof          B   25       19  Male  153750

In [ ]:
df[(df['salary']<=150000) & (df['salary']>=90000) & (df['rank']=='Prof') & (df['discipline']=='A') & (df['sex']=='Male')]

    rank discipline  phd  service   sex  salary
1   Prof          A   12        6  Male   93000
2   Prof          A   23       20  Male  110515
3   Prof          A   40       31  Male  131205
5   Prof          A   20       20  Male  122400
7   Prof          A   18       18  Male  126300
8   Prof          A   29       19  Male   94350
18  Prof          A   19        7  Male  107300
21  Prof          A   33       30  Male  103106
24  Prof          A   30       23  Male   91100
26  Prof          A   38       19  Male  148750
32  Prof          A   27       19  Male  103275
37  Prof          A   20        8  Male  102000

In [ ]:
df[['phd','salary','service']].describe()

             phd         salary    service
count  78.000000      78.000000  78.000000
mean   19.705128  108023.782051  15.051282
std    12.498425   28293.661022  12.139768
min     1.000000   57800.000000   0.000000
25%    10.250000   88612.500000   5.250000
50%    18.500000  104671.000000  14.500000
75%    27.750000  126774.750000  20.750000
max    56.000000  186960.000000  51.000000

In [ ]:
df['rank'].value_counts()

Prof         46
AsstProf     19
AssocProf    13
Name: rank, dtype: int64

In [ ]:
len(df[df['salary']=='AssocProf'].min())

6

In [ ]:
df[df['rank']=='AssocProf']['salary'].min()

62884

In [ ]:
df.iloc[:,[3,5,4]]

    service  salary     sex
0        49  186960    Male
1         6   93000    Male
2        20  110515    Male
3        31  131205    Male
4        18  104800    Male
..      ...     ...     ...
73       10  105450  Female
74        6  104542  Female
75       17  124312  Female
76       14  109954  Female
77       15  109646  Female

[78 rows x 3 columns]

In [ ]:
df.groupby(['rank','sex','discipline'])['salary'].mean()

rank       sex     discipline
AssocProf  Female  A              72128.500000
                   B              99435.666667
           Male    A              81285.000000
                   B             113404.000000
AsstProf   Female  A              72933.333333
                   B              84189.800000
           Male    A              79000.000000
                   B              88224.000000
Prof       Female  A             109631.875000
                   B             131836.200000
           Male    A             113164.400000
                   B             137989.076923
Name: salary, dtype: float64

In [ ]:
df[df['rank']=='AssocProf']['salary']

6      81285
30    107008
34    119800
41     74830
47    103613
54     62884
56     77500
59    103994
61    103750
62    109650
64     73300
71     71065
74    104542
Name: salary, dtype: int64